/* carousel.css */
.carousel-container {
  margin: 20px 0;
}

.carousel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.carousel-controls {
  display: flex;
  gap: 10px;
}

.carousel-control {
  cursor: pointer;
  font-size: 1.5rem;
  color: #333;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.slide-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}

.text-content {
  margin-bottom: 10px;
}

.title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.content {
  font-size: 1rem;
  color: #777;
}

.image-right img {
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.button-container .text {
  font-size: 0.9rem;
  font-weight: bold;
  color: #333;
}
