.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  color: #333333;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar a {
  text-decoration: none;
  color: #333333;
  padding: 0 15px;
  font-size: 0.9rem; /* Decreased font size */
  font-weight: 500;
}

.navbar h1 {
  font-size: 1.5rem; /* Decreased font size */
}

.logo {
  width: 40px; /* Adjusted size of the logo */
  height: auto;
  margin-right: auto;
}

.tun {
  width: 40px; /* Adjusted size of the logo */
  height: auto;
  margin-left: auto;
}

.navbar-links {
  display: flex;
  align-items: center;
}

.logout-button {
    padding: 8px 16px;
    background-color: #f44336; /* Red color for the disconnect button */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.logout-button:hover {
    background-color: #d32f2f; /* Darken the red on hover */
}