.profile-page {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  padding: 20px;
}

.profile-container {
  display: flex;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 1200px;
  min-height: 80vh;
}

.sidebar {
  background-color: #f8f8f8;
  padding: 20px;
  width: 250px;
  border-right: 1px solid #dddddd;
}

.sidebar h3 {
  margin-bottom: 20px;
}

.tab-button {
  background-color: #f0f0f0;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  display: block;
  width: 100%;
  text-align: left;
  margin-bottom: 10px;
}

.tab-button.active, .tab-button:hover {
  background-color: #d0d0d0;
}

.logout-button {
  padding: 10px 20px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  margin-top: 20px;
  width: 100%;
}

.logout-button:hover {
  background-color: #d32f2f;
}

.content {
  padding: 20px 40px;
  flex-grow: 1;
}

.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.profile-input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: border-color 0.3s;
}

.profile-input:focus {
  border-color: #007bff;
  outline: none;
}

.profile-button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
}

.profile-button:hover {
  background-color: #0056b3;
}

.upload-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
}

.upload-button:hover {
  background-color: #45a049;
}

.logout {
  margin-top: 20px;
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
}

.logout:hover {
  color: #0056b3;
}

.edit-icon {
  margin-left: 10px;
  cursor: pointer;
  color: #007bff;
  font-size: 1rem;
}

.edit-icon:hover {
  color: #0056b3;
}

.error {
  color: red;
  margin-top: 10px;
}
