/* restaurantDetail.css */

.restaurant-detail-container {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    margin: auto;
}

.restaurant-name {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
    text-align: center;
}

.restaurant-address {
    font-size: 1.2rem;
    color: #777;
    text-align: center;
    margin-bottom: 20px;
}

.carousel-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 20px 0;
    color: #333;
    text-align: start;
}

/* Add styles for the carousels */
.carousel-container {
    margin: 20px 0;
}

.carousel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.carousel-controls {
    display: flex;
    gap: 10px;
}

.carousel-control {
    cursor: pointer;
    font-size: 1.5rem;
    color: #333;
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

.slide-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.text-content {
    margin-bottom: 10px;
}

.title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.content {
    font-size: 1rem;
    color: #777;
}

.image-right img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.button-container .text {
    font-size: 0.9rem;
    font-weight: bold;
    color: #333;
}

/* Styles for the dialog */
.MuiDialog-paper {
    border-radius: 10px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent background */
}

.MuiDialogTitle-root {
    padding: 16px;
    background-color: transparent;
}

.MuiDialogContent-root {
    padding: 16px;
}

.MuiDialogActions-root {
    padding: 16px;
}

.MuiTextField-root {
    margin-bottom: 16px;
}

.MuiButton-containedPrimary {
    background-color: #1976d2;
    color: #fff;
}

.MuiButton-outlinedSecondary {
    color: #d32f2f;
    border-color: #d32f2f;
}

.MuiButton-outlinedSecondary:hover {
    background-color: rgba(211, 47, 47, 0.1);
}

/* Profile image upload styles */
.restaurant-image-container {
    position: relative;
    width: 100%;
    height: 300px; /* Adjust as needed */
    overflow: hidden; /* Ensure that the image does not overflow the container */
    border-radius: 10px;
    margin-bottom: 20px;
}

/* Style for the restaurant image */
.restaurant-img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the entire container */
}

/* Style for the camera icon overlay */
.restaurant-camera-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 5px;
    color: white;
    cursor: pointer;
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
}

.fade-in {
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
